<!DOCTYPE html>
<html ng-app="web_interface">
  <head>
    <title>GENOM supervisor</title>
    <!-- Bootstrap -->
    <link href="./css/bootstrap.css" rel="stylesheet" media="screen">
    <script src="./js/jquery.js"></script>
    <script src="./js/bullet.js"></script>
    <script src="./js/angular.js"></script>
    <script src="./js/angular-sanitize.js"></script>
    <script src="./js/ui-utils.js"></script>
    <script src="./js/bootstrap.js"></script>
    <script src="./js/scripts.js"></script>

  </head>
  <body ng-controller="my_controller" ng-init="init()">
    <!-- LOCALHOST -->
    <div ng-style="generate_host_style(state.my_info.status)">
    <!-- header -->
      <div class="row-fluid">
        <div class="span1">
          HOST<br>
          PORT<br>
          STAMP<br>
          STATUS<br>
          COMMENT<br><br>
        </div>
        <div class="span1">
          :<br>
          :<br>
          :<br>
          :<br>
          :<br><br>
        </div>
        <div class="span1">
          localhost<br>
          {{state.my_info.port}}<br>
          {{state.my_info.stamp}}<br>
          {{state.my_info.status}}<br>
          {{state.my_info.comment}}<br><br>
        </div>
      </div>
      <!-- master app -->
      <div ng-style="generate_app_style(state.my_info.status)">
        <div class="row-fluid">
          <div class="span1">
            APP_NAME <br>
            ROLE<br>
            STATUS<br>
            STAMP<br><br>
          </div>
          <div class="span1">
            :<br>
            :<br>
            :<br>
            :<br><br>
          </div>
          <div class="span10">
            {{state.my_info.name}}<br>
            {{state.my_info.role}}<br>
            {{state.my_info.status}}<br>
            {{state.my_info.stamp}}<br><br>
          </div>
        </div>
        <div ng-repeat="(module, moduleinfo) in state.my_info.modules_info">
          <div class="row-fluid">
            <div class="span2"> 
              {{module}}
            </div>
            <div class="span10">
              <div ng-repeat="(key, val) in moduleinfo">
                key : {{key}}<br>
                date : {{val.stamp}}<br>
                value : {{val.value}}<br><br>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- slaves -->
      <div ng-repeat=" (id, appinfo) in state.slaves_info">
        <div ng-style="generate_app_style(appinfo.status)">
          <div class="row-fluid">
            <div class="span1">
              APP_NAME <br>
              ROLE<br>
              STATUS<br>
              STAMP<br><br>
            </div>
            <div class="span1">
              :<br>
              :<br>
              :<br>
              :<br><br>
            </div>
            <div class="span10">
              {{appinfo.name}}<br>
              {{appinfo.role}}<br>
              {{appinfo.status}}<br>
              {{appinfo.stamp}}<br><br>
            </div>
          </div>
          <div ng-repeat="(module, moduleinfo) in appinfo.modules_info">
            <div class="row-fluid">
              <div class="span2"> 
                {{module}}
              </div>
              <div class="span10">
                <div ng-repeat="(key, val) in moduleinfo">
                  key : {{key}}<br>
                  date : {{val.stamp}}<br>
                  value : {{val.value}}<br><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- OTHER HOSTS HERE -->
    <div ng-repeat="host in state.other_hosts">
      <div ng-style="generate_host_style(host.status)">
      <!-- header -->
        <div class="row-fluid">
          <div class="span1">
            HOST<br>
            PORT<br>
            STAMP<br>
            STATUS<br>
            COMMENT<br><br>
          </div>
          <div class="span1">
            :<br>
            :<br>
            :<br>
            :<br>
            :<br><br>
          </div>
          <div class="span1">
            {{host.host}}<br>
            {{host.port}}<br>
            {{host.stamp}}<br>
            {{host.status}}<br>
            {{host.comment}}<br><br>
          </div>
        </div>
        <!-- apps -->
        <div ng-repeat=" (id, appinfo) in host.apps">
          <div ng-style="generate_app_style(appinfo.status)">
            <div class="row-fluid">
              <div class="span1">
                APP_NAME <br>
                ROLE<br>
                STATUS<br>
                STAMP<br><br>
              </div>
              <div class="span1">
                :<br>
                :<br>
                :<br>
                :<br><br>
              </div>
              <div class="span10">
                {{appinfo.name}}<br>
                {{appinfo.role}}<br>
                {{appinfo.status}}<br>
                {{appinfo.stamp}}<br><br>
              </div>
            </div>
            <div ng-repeat="(module, moduleinfo) in appinfo.modules_info">
              <div class="row-fluid">
                <div class="span2"> 
                  {{module}}
                </div>
                <div class="span10">
                  <div ng-repeat="(key, val) in moduleinfo">
                    key : {{key}}<br>
                    date : {{val.stamp}}<br>
                    value : {{val.value}}<br><br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </body>
</html>