<!DOCTYPE html>
<html ng-app="web_interface">
  <head>
    <title>GENOM supervisor</title>
    <!-- Bootstrap -->
    <link href="./css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="./css/style.css" rel="stylesheet" media="screen">
    <script src="./js/jquery.js"></script>
    <script src="./js/bullet.js"></script>
    <script src="./js/angular.js"></script>
    <script src="./js/angular-sanitize.js"></script>
    <script src="./js/ui-utils.js"></script>
    <script src="./js/bootstrap.js"></script>
    <script src="./js/scripts.js"></script>

  </head>
  <body ng-controller="my_controller" ng-init="init()" ng-style="{'padding-top': '45px'}">
    <!-- navigation panel -->
    <nav class="navbar navbar-default navbar-fixed-top my_navbar" role="navigation" ng-style="{'background-color':'lightgrey', 'height' : '45px'}">
      <div class="container-fluid">
        <a  target="_blank" href="http://json.parser.online.fr/"><button class="btn">JSON parser</button></a> <input type="text" ng-model="search_key" placeholder="KEY"> <input type="text" ng-model="search_module" placeholder="MODULE">
      </div>
    </nav>
    <!-- LOCALHOST -->
    <div class="host" ng-style="generate_host_style(state.my_info.status)">
    <!-- header -->
      <div class="row-fluid">
        <table class="table">
          <thead>
            <tr>
              <th>HOST</th>
              <th>PORT</th>
              <th>STAMP</th>
              <th>STATUS</th>
              <th>COMMENT</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>localhost</td>
              <td>{{state.my_info.port}}</td>
              <td>{{state.my_info.stamp}}</td>
              <td>{{state.my_info.status}}</td>
              <td>{{state.my_info.comment}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- master app -->
      <div class="app" ng-style="generate_app_style(state.my_info.status)">
        <div class="row-fluid">
          <table class="table">
            <thead>
              <tr>
                <th>APP_NAME</th>
                <th>ROLE</th>
                <th>STATUS</th>
                <th>STAMP</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{state.my_info.name}}</td>
                <td>{{state.my_info.role}}</td>
                <td>{{state.my_info.status}}</td>
                <td>{{state.my_info.stamp}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="app_content" ng-repeat="(module, moduleinfo) in my_custom_filter(state.my_info.modules_info, search_module)">
          <div class="row-fluid">
            <h3>MODULE : {{module}}</h3>
            <br>
            <table class="table">
              <thead>
                <tr>
                  <th>key</th>
                  <th>date</th>
                  <th>value</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="(key, val) in my_custom_filter(moduleinfo, search_key)"> 
                  <td>{{key}}</td>
                  <td>{{val.stamp}}</td>
                  <td>{{val.value}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- slaves -->
      <div ng-repeat=" (id, appinfo) in state.slaves_info">
        <div class="app" ng-style="generate_app_style(appinfo.status)">
          <div class="row-fluid">
            <table class="table">
              <thead>
                <tr>
                  <th>APP_NAME</th>
                  <th>ROLE</th>
                  <th>STATUS</th>
                  <th>STAMP</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{appinfo.name}}</td>
                  <td>{{appinfo.role}}</td>
                  <td>{{appinfo.status}}</td>
                  <td>{{appinfo.stamp}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="app_content" ng-repeat="(module, moduleinfo) in my_custom_filter(appinfo.modules_info, search_module)">
            <div class="row-fluid">
              <h3>MODULE : {{module}}</h3>
              <br>
              <table class="table">
                <thead>
                  <tr>
                    <th>key</th>
                    <th>date</th>
                    <th>value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="(key, val) in my_custom_filter(moduleinfo, search_key)"> 
                    <td>{{key}}</td>
                    <td>{{val.stamp}}</td>
                    <td>{{val.value}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <!-- OTHER HOSTS HERE -->
    <div ng-repeat="host in state.other_hosts">
      <div class="host" ng-style="generate_host_style(host.status)">
      <!-- header -->
        <div class="row-fluid">
          <table class="table">
            <thead>
              <tr>
                <th>HOST</th>
                <th>PORT</th>
                <th>STAMP</th>
                <th>STATUS</th>
                <th>COMMENT</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{host.host}}</td>
                <td>{{host.port}}</td>
                <td>{{host.stamp}}</td>
                <td>{{host.status}}</td>
                <td>{{host.comment}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- apps -->
        <div ng-repeat=" (id, appinfo) in host.apps">
          <div class="app" ng-style="generate_app_style(appinfo.status)">
            <div class="row-fluid">
              <table class="table">
                <thead>
                  <tr>
                    <th>APP_NAME</th>
                    <th>ROLE</th>
                    <th>STATUS</th>
                    <th>STAMP</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{appinfo.name}}</td>
                    <td>{{appinfo.role}}</td>
                    <td>{{appinfo.status}}</td>
                    <td>{{appinfo.stamp}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="app_content" ng-repeat="(module, moduleinfo) in my_custom_filter(appinfo.modules_info, search_module)">
              <div class="row-fluid">
                <h3>MODULE : {{module}}</h3>
                <br>
                <table class="table">
                  <thead>
                    <tr>
                      <th>key</th>
                      <th>date</th>
                      <th>value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="(key, val) in my_custom_filter(moduleinfo, search_key)"> 
                      <td>{{key}}</td>
                      <td>{{val.stamp}}</td>
                      <td>{{val.value}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </body>
</html>